@model IEnumerable<Classroom.Models.Syllabus>

@{
    ViewBag.Title = "_syllabus";
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Classroom</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script>
        $(function() {
            $("#accordion3").accordion({
                collapsible: true,
                active: false
            });
        });
    </script>
</head>

<body>

    <div id="accordion3">
        @foreach (var item in Model)
        {

            <h3>@Html.DisplayFor(modelItem => item.SyllabusTitle)</h3>
            <div>

                <form action="VirtualClassrooms\_CompletedAssignments" method="post" enctype="multipart/form-data">
                    <fieldset class="form-group">
                        <p>@Html.DisplayFor(modelItem => item.SyllabusDescription)</p>
                    </fieldset>
                    <fieldset class="form-group">
                        <label><i class="fa fa-file" aria-hidden="true"></i> Supporting Files: </label>
                        @foreach (var file in item.FileDetails)
                        {
                            <a class="btn btn-success btn-sm" href="/Syllabus/Download/?p=@(file.FileId + file.Extension)&d=@file.FileName">@file.FileName</a>
                        }
                    </fieldset>


                </form>
            </div>
        }
    </div>


</body>

</html>