@model Classroom.ViewModels.VirtualClassroomViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_InstructorClassroom.cshtml";

}

<div class="jumbotron instructor">
    Welcome to @Model.VirtualClassroom.ClassroomName
</div>
