@model Classroom.ViewModels.VirtualClassroomViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_StudentClassroom.cshtml";

}

<div class="jumbotron student">
    Welcome to @Model.VirtualClassroom.ClassroomName
</div>




            
